{{define "header"}}
  <div id="ascii-art">
    ___  _____ _   _  _   _  ____________ _____ _____ _      _______   __
    |_  ||  _  | | | || \ | | | ___ \ ___ \  ___/  ___| |    |  ___\ \ / /
      | || | | | |_| ||  \| | | |_/ / |_/ / |__ \ `--.| |    | |__  \ V / 
      | || | | |  _  || . ` | |  __/|    /|  __| `--. \ |    |  __|  \ /  
  /\__/ /\ \_/ / | | || |\  | | |   | |\ \| |___/\__/ / |____| |___  | |  
  \____/  \___/\_| |_/\_| \_/ \_|   \_| \_\____/\____/\_____/\____/  \_/  
  </div>

  <div id="job-title">
    PROGRAMMER
  </div>
{{end}}

{{define "main"}}
  <div id="display-area">

  </div>
{{end}}