@font-face {
  font-family: 'DOS-V';
  src: url('data/fonts/DOS-V-ANK16.woff');
}

html {
    font-family: 'DOS-V';
  }

  .ascii-art {
    font-family: monospace;
    white-space: pre;
    color: #D63743;
    text-align: center;
}

  body {
    background-color: #0100AB;
    color: #EAE740;
    height: 100vh;
    text-align: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .text-container {
    background-color: #AAAAAA;
    margin-top: 3%;
    border-style: double;
    border-color: white;
    border-width: 3px;
    max-width: 75vw;
  }

  .text-container > * {
    display: flex;
    justify-content: center;
  }


  .text {
    text-align: left;
    text-justify: left;
    padding: 1em 1em;
    color: black;
    background-color: #00AAA9;
  }

  .hide {
    visibility: hidden;
  }

  .title {
    color: black;
  }

  .img {
    width: 100%;
    height: auto;
    max-width: 30vw;
  }