{{define "main"}}
    <div class='blog-post'>
        <div class="page-header">
            <h1>PROJECTS</h1>
        </div>
    {{if .Projects}}
    <div class="wrapper">
        <table>
            <caption>RECENT PROJECTS</caption>
            <tr>
                <th>Title</th>
            </tr>
            {{range .Projects}}
            <tr>
                <td><a href='/projects/{{.ID}}'>{{.Title}}</a></td>
            </tr>
            {{end}}
        </table>
    </div>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
    </div>
{{end}}