{{define "title-css-script"}}
<title>John Presley's Portfolio</title>
<link rel="stylesheet" href="/static/css/main.css">
<script src="static/js/app.js" defer></script>
{{end}}

{{define "main"}}
    <div class='blog-post'>
        <div class="page-header">
            <h1>PROJECTS</h1>
        </div>
    <div class="wrapper">
        <table>
            <caption>PROJECTS</caption>
            <tr>
                <th>Title</th>
            </tr>
            <tr>
                <td><a href='/projects/raycaster'>Raycaster</a></td>
            </tr>
                <tr><td><a href='/projects/decoder'>8086 Instruction Decoder</a></td>
            </tr>
        </table>
    </div>
    </div>
{{end}}