html {
    font-family: Georgia;
  }

  body {
    margin: 0;
  }

  header {
    background: darkslategrey;
    height: 100px;
  }

section {
    display: flex;
}

  h1 {
    text-align: center;
    color: goldenrod;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: darkgrey;
    flex: 1;
  }

  article:nth-of-type(3) {
    flex: 2;
  }